@page "/dev_login"
@rendermode InteractiveServer

<PageTitle>DevLogin</PageTitle>

<form action="/action_page.php">
    <label for="fname">username:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">password:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <input type="submit" value="Submit">
</form> 