@page "/"

<PageTitle>dev.chrisgyman</PageTitle>

<div class="flex_container">
    <NavLink href="counter">
        <button href="counter">socials</button>
    </NavLink>

    <NavLink href="counter">
        <button href="counter">posts</button>
    </NavLink>

    <NavLink href="dev_login">
        <button>dev login</button>
    </NavLink>
</div>